.app {
  display: flex;
}

.navbar {
  padding-left: 0;
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.page-content {
  margin-left: 260px;   /* pushes content to the right */
  width: calc(100% - 260px);
  padding: 5px;
}
